body{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: #e5e5e5;
}

/* Style the tab */
.tab {
    background-color: #ff0029;
    width: 100%;
    min-height: 70px;
    position: fixed;
    top: 0;
    margin: 0 auto;
    z-index: 1;
    text-align: center;
    padding-bottom: 10px;
}

.tab button {
    width: 150px;
    height: 50px;
    font-size: 20px;
    background-color: inherit;
    color: #e1d5d8;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0px 30px;
    padding-bottom: 20px;
    transition: 0.3s;
    display: inline-block;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.tab button:hover {
    font-size: 24px;
    padding-top: 25px;

}

.line{
    color: #e1d5d8;
    margin: 0px;
    padding: 0px;
    display:inline-block;
}
.tabcontent{
    background-color: #ebbfc4;
    display: none;
    padding: auto;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}



button.tablink{
    padding-top: 30px;
    text-align: center;

}

.div-main-center {
    background-color: #ff0029;
    padding-top: 110px;
    max-width: 70%;
    margin: 0 auto;
    text-align: center;
}

div a, .dropbtn {
    display: inline-block;
    color: white;
    padding-right: 10px;
    text-decoration: none;
}

div a:hover, .dropdown:hover .dropbtn {
    transform:scale(1,1);
}

.dropdown {
    position: relative;
    z-index: 2;
    float: right;
    height: 40px;
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #c3c3c3;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.div-footer {
    background-color: darkgray;
    width: 100%;
    height: 175px;
}

.thumbnail{
    padding: 15px;
    padding-bottom: auto;
    width: 350px;
    display: inline-block;
    overflow: hidden;
    margin: 5px 3px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.thumbnail:hover{
    background-color: #c3c3c3;
    -webkit-transform:scale(1.05);
    -moz-transform:scale(1.05);
    -ms-transform:scale(1.05);
    -o-transform:scale(1.05);
    transform:scale(1.05);
}

hr{
    width: 120px;
    color: rgba(142, 142, 142, 0.52);
}
.pro {
    margin: auto auto;
    max-width: 350px;
    max-height: 350px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pro img{
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.post_img{
    margin-top: 120px;
    padding:0px 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.post_img img{
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.content{
    padding:25px 500px;
    text-align: justify;
    font-size: 18px;
    line-height: 30px;
}

.name_of_content{
    margin:0;
    text-align: center;
}
.date{
    font-weight: lighter;
    text-align: center;
}
